BODY.body{
    padding: 50px 50px 25px 0px;
}
.categories{
    padding: 0 44px;
    margin-bottom: 25px; 
}
.category-wrapper{
    height: 30px;
    padding: 0;
    margin-bottom: 10px; 
    min-width: 205px;
}
.category{   
    width: 100%;
    height: 100%;
}

.game-wrapper{   
    min-width: 270px;
    padding: 0px 30px 40px 30px;        
}
.category-wrapper.active button{
  background-color: gray; 
  color : white;
}
.game{
    min-width: 200px;
    overflow: hidden;
    border: solid 1px orange;   
}
.game .head{
    border-bottom: solid 1px orange;
    padding-left: 5px;
    padding-top: 6px;
    display: block;
    height: 35px;
    vertical-align: middle;
}
.game .body{    
    width : 100%;
    position: relative;
    cursor: pointer;
}

.game .body .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40%;
    font-size: 22px;
    color: orange;
    font-weight: bold;
    text-decoration: underline;
    display: none;
    background: url('../images/play.gif') no-repeat center top; 
    padding-top: 40px;
    text-align: center;
}    
.game .body:hover .mask{
    display: block;
}    

.game .body img{
    width: 100%;
    cursor: pointer;
}