.body{
    padding: 50px;
}
.categories{
    padding-left: 35px;
    padding-right: 35px;
}
.category-wrapper{
    height: 30px;
    padding: 0;
    margin-bottom: 35px; 
}
.category{   
    width: 100%;
    height: 100%;
}

.game-wrapper{       
    height: 140px;
    padding: 0px 20px 40px 20px;    
    margin-bottom: 35px; 
}
.game{
    border: solid 1px orange;   
}
.game .head{
    border-bottom: solid 1px orange;
    padding-left: 20px;
    padding-top: 6px;
    display: block;
    height: 35px;
    vertical-align: middle;
}
.game .body{    
    width : 100%;
    height: 80px; 
}